{:paths ["src"]

 :deps
 {rgm/hyak.adapter {:local/root "modules/adapter"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha       {:mvn/version "1.76.1230"}
    org.slf4j/slf4j-nop       {:mvn/version "2.0.6"}
    rgm/hyak.postgres-adapter {:local/root "modules/fstore-postgres"}
    rgm/hyak.redis-adapter    {:local/root "modules/fstore-redis"}}}}}
